* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.all_products {
    text-align: center;
  
    h1{
        text-align: center;
        color: cadetblue;
    }
    .list_of_products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 00px;

        .product {
            width: 270px;
            margin: 10px;
            height: fit-content;
            border: 1px solid rgb(228, 226, 226);
            box-shadow: rgba(33, 33, 73, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            text-align: left;

            //box-shadow: 0 0 2px 1px rgb(80, 79, 79);
            .image {
                width: 100%;
                height: 180px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info {
                padding: 0 10px;

                p {
                    margin: 8px 0;
                    color: black;
                    font-weight: bold;

                    span {
                        color: black;
                        font-weight: lighter;
                    }
                }

                .btns {
                    button {
                        background-color: red;
                        padding: 10px 10px;
                        margin: 8px 0px;
                        margin-right: 4px;
                        color: white;
                        width: 48%;
                        border: none;
                    }

                    .modify {
                        background-color: cadetblue;
                    }

                }

            }
        }
    }

    button {
        width: 200px;
        padding: 14px 0;
        background-color: cadetblue;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-weight: bolder;
        margin: auto;
        margin-top: 10px;
    }
}