
<div class="searchBar">
    <input type="text" #searchBar placeholder="Search any product" (keyup)="filter(searchBar.value)">
    <button ((click))="filter(searchBar.value)">Search</button>
</div>
<div class="all_products">
    <h1>All Products</h1>
   
    <div class="list_of_products">
        <div class="product" *ngFor="let productInfo of productList">
            <div class="image">
                <img src="assets/images/Screenshot (2).png" alt="">
            </div>
            <div class="info">
                <p>Name: <span>{{productInfo.name}}</span></p>
                <p>Price: <span>{{productInfo.price}}</span></p>
                <p>Description: <span>{{productInfo.description}}</span></p>
                <p>Quantity: <span>{{productInfo.quantity}}</span></p>
                <div class="btns">
                    <button class="delete" (click)="deleteProduct(productInfo.id)">Delete</button>
                    <button class="modify" [routerLink]="['update-product',productInfo.id]">Modify</button>
                </div>
            </div>
        </div>
    </div>
    <button [routerLink]="['add-product']">Add Product</button>
</div>
