.navbar {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        h1 {
            color: white;
            margin-left: 30px;

        }

        ul {
            list-style: none;
            display: flex;

            li {
                text-decoration: none;
                margin: 0 10px;

                button {
                    color: white;
                    background-color: transparent;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}