<ul>
    <li>

        <a routerLink="from-event-comp">from Event</a>
        <br>
        <br>
        <a routerLink="interval">Interval</a>
        <br>
        <br>
        <a routerLink="of-from">Of From</a>
        <br>
        <br>
        <a routerLink="customobs">Custom Observable</a>
        <br>
        <br>

        <a routerLink="mapoper">Map</a>
        <br>
        <br>
        <a routerLink="filter">Filter</a>
        <br>
        <br>
        <a routerLink="retry">Retry</a>
        <br>
        <br>
        <a routerLink="tap">Tap</a>
<br>
<br>
<a routerLink="debouncetime">Debounce</a>

    </li>
    <router-outlet></router-outlet>
</ul>