.all {
    height: 100vh;
    width: 100vw;
    background-color: rgb(2, 31, 73);

    .title {
        margin: auto;
        width: fit-content;

        p {
            color: white;
            font-size: xx-large;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }

    .center {
        margin: auto;
        width: fit-content;
    }
}